---
const videoId = "1103343914";
const hash = "70cb31b2de";
---


<div class="container rounded-xl flex flex-col md:flex-row justify-between max-w-6xl px-10 mx-auto xl:px-0 mt-16 mb-16 gap-6 items-center">


    <iframe
    src={`https://player.vimeo.com/video/${videoId}?h=${hash}&autoplay=1&muted=1&loop=1&controls=0&title=0&byline=0&portrait=0`}
    class="h-[60vh] w-full object-cover rounded-xlrounded-md"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
    loading="lazy"
  >
  </iframe>

</div> 
